<div class="filters">
  <form [formGroup]="filterForm" class="filter-form">
    <mat-form-field appearance="outline">
      <mat-label>Ano Escolar</mat-label>
      <mat-select formControlName="year">
        <mat-option *ngFor="let year of [2023, 2024, 2025]" [value]="year">{{ year }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Turma</mat-label>
      <mat-select formControlName="schoolClass">
        <mat-option *ngFor="let turma of ['6 ano', '7 ano', '8 ano']" [value]="turma">{{ turma }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Matéria</mat-label>
      <mat-select formControlName="subject">
        <mat-option *ngFor="let subject of ['Matemática', 'Português', 'Ciências']" [value]="subject">
          {{ subject }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Data</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </form>
  <button mat-raised-button color="primary" (click)="updateFilters()">Atualizar Filtros</button>
  <button mat-raised-button color="accent" (click)="openNewSummaryModal()">Novo Resumo</button>
</div>

<div class="summaries">
  <mat-card *ngFor="let summary of summaries">
    <mat-card-title>{{ summary.date | date: 'dd/MM/yyyy' }}</mat-card-title>
    <mat-card-subtitle>{{ summary.schoolClass }} - {{ summary.subject }}</mat-card-subtitle>
    <mat-card-content>{{ summary.summary }}</mat-card-content>
  </mat-card>
</div>
