<h2 mat-dialog-title class="title">{{ data?.id ? 'Editar Aluno' : 'Novo Aluno' }}</h2>

<mat-dialog-content class="form-container" [formGroup]="studentForm">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Nome</mat-label>
    <input matInput formControlName="name" />
    <mat-error *ngIf="studentForm.get('name')?.invalid">
      Nome obrigatório (máx 50 caracteres).
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Data de Nascimento</mat-label>
    <input matInput formControlName="birthDate" [matDatepicker]="datepicker" [max]="NOW" [min]="minDefaultDate" />
    <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
    <mat-datepicker #datepicker></mat-datepicker>
    <mat-error *ngIf="studentForm.get('birthDate')?.invalid">
      Data obrigatória.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Turma</mat-label>
    <mat-select formControlName="classId">
      <mat-option *ngFor="let turma of turmas" [value]="turma.id">
        {{ turma.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Ano Letivo</mat-label>
    <mat-select formControlName="schoolYear">
      <mat-option *ngFor="let year of years" [value]="year">
        {{ year }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end" class="actions">
  <button mat-button (click)="cancel()" class="cancel-btn">Cancelar</button>
  <button mat-raised-button color="primary" (click)="saveStudent()" [disabled]="studentForm.invalid">
    {{ data?.id ? 'Atualizar' : 'Salvar' }}
  </button>
</mat-dialog-actions>
