<div class="classes-container">
  <h1>Gerenciar Turmas</h1>
  <button mat-raised-button color="primary" (click)="openClassForm()">Nova Turma</button>

  <mat-divider></mat-divider>

  <table mat-table [dataSource]="classrooms" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td mat-cell *matCellDef="let classroom">{{ classroom.name }}</td>
    </ng-container>

    <ng-container matColumnDef="schoolYear">
      <th mat-header-cell *matHeaderCellDef>Ano Letivo</th>
      <td mat-cell *matCellDef="let classroom">{{ classroom.schoolYear }}</td>
    </ng-container>

    <ng-container matColumnDef="totalStudents">
      <th mat-header-cell *matHeaderCellDef>Total de Alunos</th>
      <td mat-cell *matCellDef="let classroom">{{ classroom.totalStudents }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['name', 'schoolYear', 'totalStudents']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['name', 'schoolYear', 'totalStudents']"></tr>
  </table>
</div>
